  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  
 body{ 
    font-family: 'Bebas Neue', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(19, 17, 17, 0.5)), url("sandclock.jpg");
    text-align: center;
    }
  
 ul{ 
     list-style: none; 
     font-size: 20px; 
 } 
  
 .wrap { 
     width: 100%; 
     margin: 30px auto; 
     color: white; 
     text-align: center; 
 } 
  
 h1, h2, h3 { 
    font-family: 'Bebas Neue', sans-serif;
     font-weight: 100;
     font-size: 75px;
 } 

   
 #minutes, #seconds, #tens { 
     font-size: 4.5em; 
     border-radius: 20px; 
 } 
  
 #laps{ 
     max-width: 128px; 
     text-align: left; 
     padding-bottom: 20px; 
     width: 100%; 
     display: table; 
     margin: 0 auto; 
 } 
  
 button { 
     background-image: linear-gradient(rgb(225, 231, 138),rgb(242, 227, 99)); 
     cursor: pointer; 
     border-radius: 10px; 
     text-decoration: none; 
     font-family: 'Bebas Neue', sans-serif; 
     font-size: 30px; 
     width: 120px; 
     padding: 18px 10px; 
     margin: 10px; 
     border: solid 1px white; 
 } 
  
 button:hover{ 
     background-image: radial-gradient(rgb(236, 235, 184),rgb(243, 215, 11)); 
 }